Augmentor==0.1.10
backports.functools-lru-cache==1.4
backports.weakref==1.0.post1
bleach==1.5.0
cycler==0.10.0
decorator==4.1.2
Django==1.9.10
django-picklefield==0.3.2
django-registration-redux==1.4
enum34==1.1.6
fake-factory==0.5.3
funcsigs==1.0.2
future==0.16.0
futures==3.1.1
h5py==2.7.1
html5lib==0.9999999
image-slicer==0.1.1
Keras==2.1.1
Markdown==2.6.9
matplotlib==2.1.0
mock==2.0.0
networkx==2.0
numpy==1.13.3
olefile==0.44
pbr==1.8.1
Pillow==3.1.0
protobuf==3.5.0.post1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.10.0
stevedore==1.10.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
tqdm==4.19.5
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
virtualenvwrapper-win==1.2.1
Werkzeug==0.12.2
